<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="fragments :: head">

</head>
<body>

<nav th:replace="fragments :: nav">

</nav>

<h1 id="add-links-id" th:text="${game_info.game_id}"></h1>

<div th:replace="fragments :: game-info-frag"></div>


<div th:replace="fragments :: add-links-frag"></div>

<!--<div id="resultsBlock">-->
    <!--<div th:replace="fragments :: admin_page_game_list"></div>-->
<!--</div>-->

</body>

<script>


    // $("#searchGame").on('keyup', function() {
    //     var searchText = $('#searchGame').val();
    //     var searchLen  = searchText.length;
    //
    //     if (searchLen >= 1) {
    //         url ='/admin/search/' + $('#searchGame').val();
    //     }
    //     else{
    //         url ='/admin/load_home';
    //     }
    //
    //     $("#resultsBlock").load(url);
    // });

</script>

</html>