<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-117089982-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117089982-1');
    </script>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link rel='shortcut icon' type='image/x-icon' href='/images/misc/icon.png' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/master.css}" href="/static/css/master.css"/>
    <!--proppella ads-->
    <script src="//luckypushh.com/ntfc.php?p=1630788" data-cfasync="false" async="async"></script>
    <script type="text/javascript" src="//go.oclaserver.com/apu.php?zoneid=1630789"></script>
    <script async="async" type="text/javascript" src="//go.mobisla.com/notice.php?p=1630791&amp;interactive=1&amp;pushup=1"></script>

</head>
<body>

<a href="/">
    <div class="container-fluid error-message-container">
        <div class="container">
            <div class="row">
                <div class="error-message">
                    <h1>Error ! Click me to go back to the home page</h1>
                </div>
            </div>
        </div>
    </div>
</a>

</body>
</html>