<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="fragments :: head">

</head>
<body>

<nav th:replace="fragments :: nav">

</nav>

<div th:replace="fragments :: donate"></div>


<div class="container-fluid">
    <div class="container header-title">
        <h1>League List</h1>
    </div>
</div>

<div class="container search-container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input id="searchLeague" maxlength="30" type="text" class="  search-query form-control" placeholder="Search" />
            </div>
        </div>
    </div>
</div>

<div id="resultsBlock">
    <div th:replace="fragments :: league_list">
    </div>
</div>

</body>

<script>


    $("#searchLeague").on('keyup', function() {
        var searchText = $('#searchLeague').val();
        var searchLen  = searchText.length;

        if (searchLen >= 1) {
            if (/^[a-zA-Z0-9- ]*$/.test(searchText) == false) {
                alert('Your search string contains illegal characters.');
                $('#searchLeague').val("");
            }
            else {
                url = '/league/search/' + $('#searchLeague').val();
                $("#resultsBlock").load(url);
            }
        }
        else{
            url ='/league/load_home';
            $("#resultsBlock").load(url);
        }

    });

</script>
</html>